body {
  margin: 0;
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 400; */
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
section {
  padding: 0 0;
}

/* COMMON */
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
:root {
  --text-subtitle: #757575
}
.header {
  width: 100%;
  padding: 24px 0;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.header__nav-list {
  display: flex;
  
  align-items: center;
}
.header__nav-link:focus {
  color: #2196F3;
}
.header__nav-link {
  color: black;
}
.header__contacts {
  display: flex;
  align-items: center;
}
.header__contacts-link {
  display: flex;
}
.header__contacts-mail {
  color: #757575
}
.header__contacts-mail:hover {
  display: inline-block;
  color: #2196F3;
}
.header__contacts-list:not(:first-child) {
  margin-left: 50px;
}
.header__nav-item:not(:first-child) {
  margin-left: 50px;
}
.header__nav-logo {
  margin-right: 93px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}
.header__logo-style {
  color: #2196f3;
}

.header__inner {
  display: flex;
}

/* main menu*/
.menu-list {
  display: flex;
  justify-content: center;
}
.menu-list__nav {
  display: inline;
}
.menu-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.menu-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgb(7, 2, 2);
  padding: 5px 10px;
  background: #f5f4fa;
  border-radius: 5px;
  border: solid 1px #f5f4fa;
  margin-left: 10px;
}

.wrapper {
  padding: 94px 0;
}

.item__foto {
  margin-top: 34px;
}
.flex__box {
  display: flex;
  flex-wrap: wrap;
}

/*WebStudio Главная страница  */

.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}
.hero {
  padding: 200px 0;
  background-color: #2f303a;
  background-repeat: no-repeat;
  text-align: center;
}

.hero__btn {
  margin-top: 30px;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: 1px solid #2196f3;
  cursor: pointer;
}

/* Ul Li info */
.info {
  padding: 94px 0;
}
.item__text {
  margin-bottom: 10px;
  font-family: 'Roboto';
  font-style: bold;
  font-size: 14px;
  line-height: 16px;
  color: #212121;
  
}
.info__item:nth-child(1n) {
  display: flex;
  margin-bottom: 30px;
}
/* .text-subtitle:nth-child(2n) {
  margin-left: 30px;
} */
.item__text-subtitle {
  
  font-family: 'Roboto';
  font-style: regular;
  font-weight: 900;
  font-size: 14px;
  line-height: 24px;
  text-align: left;
  letter-spacing: 3%;
  color: #757575;
}

/* Doing info */

.doing__list {
  display: flex;
  justify-content: space-between;
}
.doing__title {
text-align: center;
font-family: 'roboto';
font-style: bold;
font-size: 36px;
line-height: 42px;
border-radius: 4px;
margin-bottom: 50px;
}

/* TEAM info */

.team {
  padding: 94px 0;
  background-color: #F5F4FA;
}
.team__title {
  margin-bottom: 50px;
  text-align: center;
  font-family: 'roboto';
  font-style: bold;
  font-size: 36px;
  line-height: 42px;
  color: #212121;
}
.team__list {
  display: flex;
  justify-content: space-between;
}
.team__list-inner {
  padding: 30px 0;
  text-align: center;
}
.team__list-item {
  background: #FFFFFF;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team__list-subtitle {
  margin-bottom: 10px;
}

/* Footer */

.footer {
  padding: 60px 0;
  background-color: #2F303A;
}
.footer__logo {
  display: block;
  margin-bottom: 20px;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer__contacts-link {
  display: block;
  margin-top: 9px;
}
.footer__contacts-number {
  display: block;
  margin-top: 9px;
}
