.body {
  margin: 0;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;

  color: #707070;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}

/* COMMON */
.container {
  width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* header */
.header {
  padding: 24px 0;
  border: solid 1px #2196f3;
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
}
.nav__list {
  display: flex;
  margin-left: 50px;
  align-items: center;
}

.contacts {
  display: flex;
}
.contacts__link {
  display: flex;
}
.contacts__mail {
  display: inline-block;
  margin-left: 25px;
}
.nav__item {
  margin-left: 50px;
}
.nav__logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  color: black;
}
.logo__style {
  color: #2196f3;
}
.header__inner {
  display: flex;
}

/* main menu*/
.menu-list {
  display: flex;
  justify-content: center;
}
.menu-list__nav {
  display: inline;
}
.menu-link:hover {
  background-color: #2196f3;
  color: #ffffff;
}
.menu-link {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  color: rgb(7, 2, 2);
  padding: 5px 10px;
  background: #f5f4fa;
  border-radius: 5px;
  border: solid 1px #f5f4fa;
  margin-left: 10px;
}

.wrapper {
  padding: 94px 0;
}
